@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general-container {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    height: 100vh;
}

.qa-container {
    text-align: justify;
    font-size: 20px;
    width: 50%;
    margin: 10 auto;
    padding: 3rem;
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
    transition: 0.5s;
    animation: ease-in-out;
    -webkit-box-shadow: 0px 0px 34px 1px rgba(255, 255, 255, 0.43);
    -moz-box-shadow: 0px 0px 34px 1px rgba(255, 255, 255, 0.43);
    box-shadow: 0px 0px 34px 1px rgba(255, 255, 255, 0.43);
}

#question-container .indicators {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 1rem 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numeric-ind {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

#question {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 2.5rem 0;
}

.answer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 1.5rem 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid white;
    transition: 0.2s;
}

.answer-btn:hover {
    transform: scale(1.03);
    cursor: pointer;
    filter: brightness(1.1);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.43);
    -moz-box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.43);
    box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.43);
}

.controller {
    margin-top: 2.5rem;
}

.controller .answer-btn {
    background: #dce35b !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #45b649,
        #dce35b
    ) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #45b649,
        #dce35b
    ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#results {
    color: white;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
}

.correct-answer {
    border: 3px solid rgb(0, 255, 0) !important;
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 255, 0, 0.43);
    -moz-box-shadow: 0px 0px 34px 1px rgba(0, 255, 0, 0.43);
    box-shadow: 0px 0px 34px 1px rgba(0, 255, 0, 0.43);
}

#answer-buttons .correct-answer {
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #a8e063,
        #56ab2f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #a8e063,
        #56ab2f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrong-answer {
    border: 3px solid rgb(255, 0, 0) !important;
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 34px 1px rgba(255, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 34px 1px rgba(255, 0, 0, 0.43);
    box-shadow: 0px 0px 34px 1px rgba(255, 0, 0, 0.43);
}

#answer-buttons .wrong-answer {
    background: #cb2d3e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ef473a,
        #cb2d3e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ef473a,
        #cb2d3e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal {
    font-family: 'Quicksand', sans-serif;
    background: white;
    border-radius: 8px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    animation: ease-in-out;
}

.modal-header {
    background: rgb(20, 145, 51);
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 1rem;
}

.modal-content {
    padding: 0.5rem 1rem;
    text-align: center;
}

.modal-content img {
    width: 30%;
    margin: 1.5rem auto;
}

.modal-footer {
    border-radius: 0 0 8px 8px;
    padding: 0.5rem;
    background: #ebebeb;
    display: flex;
    flex-direction: row-reverse;
}

.modal-btn-close {
    padding: 1rem 0.5rem;
    border-radius: 6px;
    background: #7b7c88;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 600;
}

.modal-btn-close:hover {
    filter: brightness(1.2);
}

.hide {
    transition: 0.5s;
    display: none;
}

.disabled {
    pointer-events: none;
    filter: blur(5px);
}

.round {
    border-radius: 8px;
}

.rounded {
    border-radius: 100%;
}

/*Loader Animation - css*/
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(40, 57, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.loader h3 {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.loader.hidden {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: none;
    }
}

@media (max-height: 530px) and (orientation: landscape) {
    .general-container {
        height: auto;
    }
}

@media (max-width: 1345px) {
    .qa-container {
        width: 75%;
    }
}

@media (max-width: 900px) {
    .qa-container {
        width: 95%;
        text-align: center;
    }
    .modal {
        width: 60% !important;
    }
}

@media (max-width: 690px) {
    .qa-container {
        width: 95%;
        padding: 2rem;
    }
    .indicators {
        flex-direction: column;
    }
    .numeric-ind {
        margin-top: 0.5rem;
    }
    .modal {
        width: 75% !important;
    }
}

@media (max-width: 485px) {
    .qa-container {
        width: 95%;
        padding: 1.7rem;
    }
    .answer-btn {
        padding: 0.8rem;
    }
    .btn-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 1rem;
    }
}

@media (max-width: 390px) {
    .indicators h2 {
        font-size: 1.6rem;
    }
    .indicators h3 {
        font-size: 1.3rem;
    }
    #question {
        color: white;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 2.2rem 0;
    }
    .modal {
        width: 90% !important;
    }
}

@media (max-width: 325px) {
    .general-container {
        height: auto;
    }
    .indicators h2 {
        font-size: 1.2rem;
    }
    .indicators h3 {
        font-size: 0.8rem;
    }
}
