.body-index {
    background: #bbd3e9 url('../media/bg/index-bg1-w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kumbh Sans', sans-serif;
}

.userRegister {
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    width: 40%;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.527) 0%, rgba(17, 1, 78, 0.7) 100%);
    box-shadow: 0 0 25px 8px rgba(142, 142, 255, 0.514);
}

.titleContainer {
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    margin: 0px auto;
    color: white;
    font-size: 25px;
    text-align: center;
}

.brand-name {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.userRegisterForm {
    margin-top: 25px;
    padding: 15px;
}

.nameInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.label-title {
    text-align: center;
    font-size: 22px;
    color: white;
    margin: 12px 0px;
}

.input {
    outline: none;
    border: 3px solid white;
    display: block;
    padding: 6px 0px;
    text-align: center;
    color: white;
    font-size: 18px;
    width: 60%;
    background: rgb(19, 19, 19);
    background: linear-gradient(180deg, rgba(19, 19, 19, 1) 0%, rgba(62, 87, 104, 1) 100%);
}

.categoriesContainer {
    margin-top: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.categories {
    display: flex;
    flex-direction: row;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    width: 40%;
    padding: 10px;
    margin: 0px auto;
    background: rgb(19, 19, 19);
    background: linear-gradient(180deg, rgba(19, 19, 19, 1) 0%, rgba(62, 87, 104, 1) 100%);
    transition: 0.15s;
}

/*Desde aqui para los inputs*/

.input-container {
    color: white;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 1.5em;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cat:hover input ~ .checkmark {
    background-color: rgb(175, 175, 175);
}

/* When the radio button is checked, add a blue background */
.input-container input:checked ~ .checkmark {
    background-color: rgb(62, 0, 119);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.input-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.input-container .checkmark:after {
    /*top: 30%;
	left: 30%;*/
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

/*Hasta aqui*/

.selected-Cat {
    filter: brightness(1.3) !important;
    border: 3px solid blue !important;
}

.img-cat {
    user-select: none;
    width: 80%;
    margin: 0px auto;
}

.cat-name {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 16px;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-btn {
    margin-top: 30px;
    color: white;
    border: 3px solid white;
    width: 50%;
    font-size: 20px;
    padding: 20px;
    background: rgb(19, 19, 19);
    background: linear-gradient(180deg, rgba(19, 19, 19, 1) 0%, rgba(62, 87, 104, 1) 100%);
    transition: 0.15s;
}

.index-btn:hover {
    cursor: pointer;
    border: 3px solid rgb(68, 118, 255);
    transition: 0.15s;
    filter: brightness(1.3);
}

.rules {
    border: 3px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 10px;
    width: 56%;
    height: 5%;
    backdrop-filter: blur(2px);
}

.text-white {
    color: white;
}

.rules-title {
    color: white;
    display: block;
    margin-bottom: 10px;
}

.rules-text {
    color: white;
    margin: 6px auto;
}

@media only screen and (max-width: 1400px) {
    .body-index {
        background: #bbd3e9 url('../media/bg/index-bg1-s.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .cat-name {
        text-align: center;
        margin-top: 10px;
        color: white;
        font-size: 15px;
    }
    .input {
        width: 70%;
    }
}

@media only screen and (max-width: 1025px) {
    .body-index {
        background: #bbd3e9 url('../media/bg/index-bg1-p.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        flex-direction: column-reverse;
    }
    .cat-name {
        text-align: center;
        margin-top: 10px;
        color: white;
        font-size: 15px;
    }
    .userRegister {
        width: 100%;
        margin: 0 auto;
    }
    .cat {
        width: 35%;
    }
    .rules {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 35px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 512px) {
    .body-index {
        background: #bbd3e9 url('../media/bg/index-bg1-m.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        flex-direction: column-reverse;
    }
    .cat {
        width: 40%;
    }
    .cat-name {
        font-size: 14px;
    }
}

@media only screen and (max-width: 440px) {
    .categories {
        flex-direction: column;
    }
    .img-cat {
        width: 40%;
    }
    .cat {
        margin: 15px auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btn {
        width: 80%;
    }
    .input {
        width: 90%;
    }
}
